.title {
  text-align: center;
  font-family: var(--merriweather), serif;
  font-size: 4em;
}

.play {
  display: table;
  color: black;
  background-color: #51DB2E;
  cursor: pointer;
  text-decoration: none;
  font-family: var(--merriweather), serif;
  font-size: 2em;
  margin: 0 auto;
  padding: 0.5em 2.5em;
  border: solid 0.1em;
  border-radius: 0.5em;
}
